.info {
    float: right;
    font-size: 12px;    
    margin: 5px 5px;
}

#image-search
{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

#image-search
{
    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
/*    background: #f1f1f1;*/

    background: #fbfbfb;
}

#search-results
{
	display: none;
    border: 1px solid #ccc;
    border-top: none;
    /* 
    min-height: 200px; 
    width: 90%;
    */
    margin: 20px auto;
    background: #f1f1f1;
}
#search-results ul.items
{
    margin: 80px 30px 0 10px;
    /* padding: 80px; */
    display: table;
    
}
#search-results ul>li.item
{
    list-style: none;
    margin: 0;
    float: left;
    height: 110px;
    width: 164px;
    border: 2px solid #ccc;
    margin: 5px !important;
    display: table-cell;
    overflow: hidden;
}
#search-results ul>li.item.selected
{
    border: 2px solid #21759b;
}
#search-results ul>li.item img
{
    text-align: center;
    height: 100px;
    display: block;
    margin: 5px auto;
    vertical-align: middle;
}

.clear{clear:both;}


#search-form
{
    
    border-bottom: 1px solid #ccc;
    padding: 10px 0 10px 0;
    text-align: center;
    background: #f1f1f1;
}
#search-header
{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #fbfbfb;
    
}
#actions
{
    border-bottom: 1px solid #ccc;
}
#search-form input
{
    vertical-align: middle;
}
#search-form input[type="text"]
{
    /* width: 300px; */
    height: 16px;
    padding: 3px 6px;
    font-size: 12px;
    color: #555;
    font-weight: 200;
/*    line-height: 1;*/
    border: 1px solid #ccc;
    background: #fbfbfb;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
}
#search-form input[type="text"]:focus
{
    border-color: #aaa;
}
#search-form input[type="submit"]
{
    background-color: #21759b;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2a95c5),to(#21759b));
    background-image: -webkit-linear-gradient(top,#2a95c5,#21759b);
    background-image: -moz-linear-gradient(top,#2a95c5,#21759b);
    background-image: -ms-linear-gradient(top,#2a95c5,#21759b);
    background-image: -o-linear-gradient(top,#2a95c5,#21759b);
    background-image: linear-gradient(to bottom,#2a95c5,#21759b);
    border-color: #21759b;
    border-bottom-color: #1e6a8d;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
    box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    
    
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    
    box-sizing: border-box;
    display: inline-block;
    padding: 3px 8px;
    font-size: 12px;
    
}
#search-form input[type="submit"]:active
{
    background: #1b607f;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#21759b),to(#278ab7));
    background-image: -webkit-linear-gradient(top,#21759b,#278ab7);
    background-image: -moz-linear-gradient(top,#21759b,#278ab7);
    background-image: -ms-linear-gradient(top,#21759b,#278ab7);
    background-image: -o-linear-gradient(top,#21759b,#278ab7);
    background-image: linear-gradient(to bottom,#21759b,#278ab7);
    border-color: #124560 #2382ae #2382ae #2382ae;
    color: rgba(255,255,255,0.95);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

a.btn
{
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 5px 0 5px;
    text-decoration: none;
    font-size: 12px;
    
    
    display: inline-block;
    
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    
    box-sizing: border-box;
    
    background: #f3f3f3;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#f4f4f4));
    background-image: -webkit-linear-gradient(top,#fefefe,#f4f4f4);
    background-image: -moz-linear-gradient(top,#fefefe,#f4f4f4);
    background-image: -o-linear-gradient(top,#fefefe,#f4f4f4);
    background-image: linear-gradient(to bottom,#fefefe,#f4f4f4);
    border-color: #bbb;
    color: #333;
    text-shadow: 0 1px 0 #fff;
}
a.btn:hover
{
    border-color: #999;
    color: #222
}
a.btn:active
{
    background: #eee;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#fefefe));
    background-image: -webkit-linear-gradient(top,#f4f4f4,#fefefe);
    background-image: -moz-linear-gradient(top,#f4f4f4,#fefefe);
    background-image: -ms-linear-gradient(top,#f4f4f4,#fefefe);
    background-image: -o-linear-gradient(top,#f4f4f4,#fefefe);
    background-image: linear-gradient(to bottom,#f4f4f4,#fefefe);
    border-color: #999;
    color: #333;
    text-shadow: 0 -1px 0 #fff;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba(0,0,0,0.5);
    box-shadow: inset 0 2px 5px -3px rgba(0,0,0,0.5);
}
#actions
{
    clear: both;
    height: 23px;
    /* width: 90%; */
    margin: 0 auto;
    padding: 5px 0 5px 0;
}

.loader
{
    height: 32px;
    text-align: center;
    list-style: none;
    float: left;
    padding: 10px 0;
}



/*** TOOLTIP ***/


#tooltip
{
    background: #FFF;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 20px #ccc;
}

#tooltip .tooltip-desc
{
    padding: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 12px;
    line-height: 18px;
}